#section-head {
    height: 500px;
    background-color: yellow;
}

#section-body {
    height: 800px;
    background-color: blue;
}
#section-footer {
    height: 150px;
    background-color: grey;
}
