doctype html
html(lang="en")
    head
        title="Jacob"
        link(href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css" rel="stylesheet")
        link(href="../css/style.css" rel="stylesheet" type="text/css")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js")
body
    #section-head
        #section-head-inner
            .row
                .col.s12.m6
                    .card.blue-grey.darken-1
                        .card-content.white-text
                            span.card-title
                                | Card Title
                            p
                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate fuga molestias necessitatibus mollitia atque voluptatem asperiores, iste delectus numquam sunt omnis, autem id praesentium officiis molestiae non magni repudiandae, quisquam.   
                        .card-action
                            a(href="#")
                                | This is a Link
                            a(href="#")
                                | This is a Link
    #section-body
        #section-body-inner
    #section-footer
        #section-footer-inner