doctype html
html(lang="en")
    head
        title="Jacob"
        link(href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css" rel="stylesheet")
        link(href="../css/style.css" rel="stylesheet" type="text/css")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js")
body
    #section-head
    #section-body
    #section-footer